* {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    padding:0;
    margin:0;
    list-style: none;
    border:0;
}

html{
    min-width: 320px;
}

.sectionProdutos{
    padding-top: 3rem;
    background-color: #E5E5E5;
    padding: 5% 5%;
}

a{
    text-decoration: none;
}

.link-verTudo{
    display: flex;
    align-items: center;
    position: absolute;
    top: -1rem;
    right: 0
} 

.link-verTudo a{
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
    margin-right: 1rem;
}

.pai-produtos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pai-produtos .ultima-imagem {
    position: relative;

}

.pai-produtos li{
    padding-top: 1rem;
    padding-bottom: 4rem;
}  

.pai-produtos li:nth-child(6n){
    margin-right: 0;
}  

.pai-produtos .verProdutoColorido{
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
}

.conteudoProdutos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}