footer{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #EAF2FD;
    padding: 3% 5%;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tabela-informacoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form{
    resize: none;
    display: block;
    margin-top: 1rem;
    padding: 3% 2%;
    width: 100%;
    outline: none;
}

.copy{
    background-color: #FFFFFF;
}