.link-verTudo{
    display: flex;
    align-items: center;
    position: absolute;
    top: -1rem;
    right: 0
} 

.btnAdicionarProduto{
    display: flex;
    align-items: center;
    position: absolute;
    top: -1rem;
    right: 0;
    padding: 20px;
}

.btnAdicionarProduto button{
    text-decoration: none;
    background-color: #2A7AE4;
    color: white;
    font-weight: bold;
    margin-right: 1rem;
    font-size: 18px;
}

.link-verTudo a{
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
    margin-right: 1rem;
}

.pai-produtos{
    display: flex;
    flex-wrap: wrap;
}

.pai-produtos .ultima-imagem {
    position: relative;

}

.pai-produtos li{
    margin-right: 1.0rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}  

.pai-produtos li a{
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
}

.conteudoProdutos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}