* {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    padding:0;
    margin:0;
    list-style: none;
    border:0;
}

html{
    min-width: 320px;
}

.cabecalho {
    padding: 0 20%;
    background-color: #FFFFFF;
    justify-content: space-between;
    display: flex;
}

.cabecalho span{
    color: #2A7AE4;
}

.cabecalho h2{
    font-weight: 700;
}

.aluraGeek{
    display: flex;
    padding: 0% 2em;
}

.topProcurarSessao{
    display: flex;
    background-color: #F5F5F5;
}

.cabecalho-esquerda{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-procurar{
    background-color: #F5F5F5;
    resize:none;
    display: block;
    outline: none;
    text-align: center;
    /* margin: 0 0 20px;
    padding: 3% 2%;
    width: 50%; */
}

.procurar-btn{
    background-color: #F5F5F5
}

.login-button {
    border: 2px solid #2A7AE4;
    border-radius: 0px;
    padding: 10px 20px;
    background-color: white;
    color: #2A7AE4;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #D4E4FA;
  }

.rodape span{
    color: #2A7AE4;
}

.sectionProdutos{
    padding-top: 3rem;
    background-color: #E5E5E5;
    padding-left: 1.0rem;
    padding-right: 6.5rem;
}

.titulo-produtos{
    display: flex;
    justify-content: space-between;
}

.link-verTudo{
    display: flex;
    align-items: center;
    /* padding-right: 2rem; */
}

.link-verTudo a{
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
    margin-right: 1rem;
}

.pai-produtos{
    display: flex;
}

.pai-produtos li{
    margin-right: 1.0rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.teste{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
}


